.home-top-left {
	position: relative;
}

#wrap > .emergency-alert {
	position: absolute;
	top: 0;
	width: 100%;
	height: 28px;
}

.wptouch-pro > .emergency-alert, 
.wptouch-pro > .active-alert {
	height: 35px;
}

/* @ Emergency Alerts
------------------------------------------------------------ */
.emergency-alert {
	background-color: #fe0000;
	
	/* Colorzilla gradient */
	background: rgb(253,0,0);
	background: -moz-linear-gradient(top, rgba(253,0,0,1) 0%, rgba(254,0,0,1) 10%, rgba(255,47,22,1) 50%, rgba(252,0,1,1) 90%, rgba(253,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,0,0,1)), color-stop(10%,rgba(254,0,0,1)), color-stop(50%,rgba(255,47,22,1)), color-stop(90%,rgba(252,0,1,1)), color-stop(100%,rgba(253,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(253,0,0,1) 0%,rgba(254,0,0,1) 10%,rgba(255,47,22,1) 50%,rgba(252,0,1,1) 90%,rgba(253,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(253,0,0,1) 0%,rgba(254,0,0,1) 10%,rgba(255,47,22,1) 50%,rgba(252,0,1,1) 90%,rgba(253,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,0,0,1) 0%,rgba(254,0,0,1) 10%,rgba(255,47,22,1) 50%,rgba(252,0,1,1) 90%,rgba(253,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd0000', endColorstr='#fd0000',GradientType=0 );
	background: linear-gradient(top, rgba(253,0,0,1) 0%,rgba(254,0,0,1) 10%,rgba(255,47,22,1) 50%,rgba(252,0,1,1) 90%,rgba(253,0,0,1) 100%);	
	/* Gradient */
	
	font-style: italic;
	font-size: 1.1em;
	color: #fff;
	padding: .25em 50px;
	vertical-align: middle;
	line-height: 35px;
	text-align: center;
	border: 1px solid #fa0105;
	border-left: none;
	border-right: none;
	position: relative;
}

#wrap > .emergency-alert, 
.wptouch-pro > .emergency-alert {
	font-size: .8em;
	border: none;
	line-height: 25px;
	padding: 0;
}

#wrap > .emergency-alert .alert-icon, 
.wptouch-pro > .emergency-alert .alert-icon {
	display: none;
}

.home-top-left .emergency-alert .alert-icon {
	position: absolute;
	left: 10px;
	top: 7px;
	width: 30px;
	height: 30px;
	background: url(images/alert-icon.png) no-repeat top left;
}

.home-top-left .emergency-alert .alert-icon-right {
	left: auto;
	right: 10px;
}

.emergency-alert a {
	color: #fff;
	text-decoration: none;
}

.emergency-alert .alert-title {
	display: inline;
	padding-right: 1em;
	line-height: 35px;
}

.emergency-alert .alert-content {
	display: inline;
	line-height: 35px;
}

#wrap > .emergency-alert .alert-title, 
#wrap > .emergency-alert .alert-content {
	font-size: 1.1em;
	line-height: 28px;
}

.wptouch-pro > .emergency-alert .alert-title, 
.wptouch-pro > .emergency-alert .alert-content {
	font-size: 1.2em;
	line-height: 35px;
}

#wrap > .emergency-alert .alert-title {
	font-size: 1.2em;
	font-weight: bolder;
}

.wptouch-pro > .emergency-alert .alert-title {
	font-size: 1.3em;
	font-weight: bolder;
}

.has-active-alert #wrap {
	padding-top: 28px;
}

.admin-bar.has-active-alert #wrap > .active-alert {
	top: 28px;
}

/* @ Active Alerts (non-emergency)
------------------------------------------------------------ */
.active-alert {
	font-size: .8em;
	background-color: #fefe00;
	font-style: italic;
	color: #000;
	vertical-align: middle;
	line-height: normal;
	text-align: center;
	border: 1px solid #fafa05;
	border-left: none;
	border-right: none;
	position: relative;
	
	width: 231px;
	padding: 5px 10px;
	height: 70px;
	position: absolute;
	bottom: 0;
	right: 0;
	top: auto;
	left: auto;
	z-index: 1000;
}

.active-alert {
	background: #f3f500; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f500 0%, #ffff4b 50%, #d7db00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f500), color-stop(50%,#ffff4b), color-stop(100%,#d7db00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f500 0%,#ffff4b 50%,#d7db00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f500 0%,#ffff4b 50%,#d7db00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f500 0%,#ffff4b 50%,#d7db00 100%); /* IE10+ */
	background: linear-gradient(top,  #f3f500 0%,#ffff4b 50%,#d7db00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f500', endColorstr='#d7db00',GradientType=0 ); /* IE6-9 */
}

.wptouch-pro > .active-alert {
	font-size: .8em;
	border: none;
	line-height: 25px;
	padding: 0;
}

.active-alert a {
	color: #000;
	text-decoration: none;
}

/*.active-alert .alert-title, 
.active-alert .alert-content {
	font-size: 1.1em;
}*/

.active-alert .alert-title {
	font-family: MuseoSans700, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.active-alert .alert-title, 
.active-alert .alert-title a {
	color: #2F4100;
}

.wptouch-pro > .active-alert .alert-title, 
.wptouch-pro > .active-alert .alert-content {
	display: inline;
	font-size: 1.2em;
	line-height: 35px;
	font-style: italic;
}

.wptouch-pro > .active-alert .alert-title {
	font-size: 1.3em;
	font-weight: bolder;
}