<?xml version="1.0" encoding="UTF-8"?>
<types>
    <settings>
        <add_resized_images_to_library>0</add_resized_images_to_library>
        <register_translations_on_import>1</register_translations_on_import>
        <images_remote>0</images_remote>
        <images_remote_cache_time>36</images_remote_cache_time>
        <help_box>by_types</help_box>
        <hide_standard_custom_fields_metabox>show</hide_standard_custom_fields_metabox>
        <postmeta_unfiltered_html>on</postmeta_unfiltered_html>
        <usermeta_unfiltered_html>on</usermeta_unfiltered_html>
    </settings>
    <groups>
        <group>
            <ID>19013</ID>
            <post_content></post_content>
            <post_title>Advisory Expiration</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_filters_association>any</_wp_types_group_filters_association>
                <_wp_types_group_fields>,_advisory_expires_time,</_wp_types_group_fields>
                <_wp_types_group_post_types>,advisory,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_admin_styles></_wp_types_group_admin_styles>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wpcf_conditional_display>
                    <custom_use>0</custom_use>
                    <relation>AND</relation>
                    <custom></custom>
                </_wpcf_conditional_display>
            </meta>
            <hash>c3b34ff05d3430344fe4c2f3dc762bdf</hash>
            <checksum>c3b34ff05d3430344fe4c2f3dc762bdf</checksum>
            <__types_id>advisory-expiration</__types_id>
            <__types_title>Advisory Expiration</__types_title>
        </group>
    </groups>
    <fields>
        <field>
            <description></description>
            <data>
                <date_and_time>and_time</date_and_time>
                <placeholder></placeholder>
                <validate>
                    <date>
                        <active>1</active>
                        <format>mdy</format>
                        <pattern>check.format</pattern>
                        <message>Please enter a valid date</message>
                    </date>
                </validate>
                <conditional_display>
                    <custom_use>0</custom_use>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <submit-key>_advisory_expires_time</submit-key>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <id>_advisory_expires_time</id>
            <name>When should this advisory expire?</name>
            <type>date</type>
            <slug>_advisory_expires_time</slug>
            <meta_key>wpcf-_advisory_expires_time</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>_advisory_expires_time</__types_id>
            <__types_title>When should this advisory expire?</__types_title>
            <hash>949af61ca7a7d8a5b605eb8f3923cb4d</hash>
            <checksum>949af61ca7a7d8a5b605eb8f3923cb4d</checksum>
        </field>
    </fields>
    <types>
        <type>
            <labels>
                <name>Advisories</name>
                <singular_name>Advisory</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent text</parent_item_colon>
                <all_items>All items</all_items>
            </labels>
            <slug>advisory</slug>
            <description></description>
            <icon>flag</icon>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <author>1</author>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <has_archive_slug></has_archive_slug>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <exclude_from_search>1</exclude_from_search>
            <can_export>1</can_export>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <wpcf-post-type></wpcf-post-type>
            <_toolset_edit_last>1438343474</_toolset_edit_last>
            <id>advisory</id>
            <__types_id>advisory</__types_id>
            <__types_title>Advisories</__types_title>
            <hash>e63522da23aecb6dfe6fabd8c49f5795</hash>
            <checksum>e63522da23aecb6dfe6fabd8c49f5795</checksum>
        </type>
    </types>
</types>