/**
 * UMW Active Alerts styles
 * @package umw-active-alerts
 * @version 1.0
 */
aside.campus-advisory, 
.previous-advisory, 
aside.emergency-alert, 
aside.local-advisory, 
.previous-external-advisory, 
aside.campus-advisory *, 
.previous-advisory *, 
aside.emergency-alert *, 
aside.local-advisory *, 
.previous-external-advisory * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

aside.campus-advisory, 
.previous-advisory {
	background: #ffe299;
}

aside.emergency-alert, 
.previous-alert {
	background: #b71237;
}

aside.local-advisory, 
.previous-external-advisory {
	background: #C4E9F1;
}

aside.campus-advisory, 
aside.emergency-alert, 
.previous-advisory, 
.previous-alert {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: MuseoSans, 'museo-sans', Arial, Verdana, sans-serif;
}

.campus-advisory > .wrap, 
.previous-advisory > .wrap {
	width: 100%;
	max-width: 100%;
	color: #002b5a;
}

.emergency-alert > .wrap, 
.previous-alert > .wrap {
	width: 100%;
	max-width: 100%;
	background: none;
	color: #fff;
}

.local-advisory > .wrap, 
.outreach-pro-home .site-inner .local-advisory > .wrap, 
.previous-external-advisory > .wrap, 
.outreach-pro-home .site-inner .previous-external-advisory > .wrap {
	width: 100%;
	max-width: 100%;
	background: none;
	color: #002b5a;
	padding: 8px 16px;
	padding: .5rem 1rem;
}

.campus-advisory > .wrap, 
.emergency-alert > .wrap, 
.outreach-pro-home .site-inner .campus-advisory > .wrap, 
.outreach-pro-home .site-inner .emergency-alert > .wrap, 
.previous-advisory > .wrap, 
.previous-alert > .wrap, 
.outreach-pro-home .site-inner .previous-advisory > .wrap, 
.outreach-pro-home .site-inner .previous-alert > .wrap {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 16px;
	background: none;
}

.alert h2, 
.alert h2 a {
	font-size: 1.5rem;
	font-family: MuseoSlab, MuseoSlab700, 'museo-slab', Times, serif;
	font-weight: 700;
	text-transform: uppercase;
}

.alert .alert-meta {
	font-style: italic;
	font-size: .9em;
}

.emergency-alert a, 
.sidebar .widget .emergecy-alert a, 
div.entry-content .previous-alert a {
	color: #fff;
}

.campus-advisory a, 
.local-advisory a, 
.sidebar .widget .campus-advisory a, 
.sidebar .widget .local-advisory a, 
div.entry-content .previous-advisory a, 
div.entry-content .previous-external-advisory a {
	color: #002b5a;
}

.emergency-alert a:hover, 
.emergency-alert a:focus, 
div.entry-content .previous-alert a:hover, 
div.entry-content .previous-alert a:focus {
	color: #e2e2e2;
	text-decoration: underline;
}

.campus-advisory a:hover, 
.campus-advisory a:focus, 
.local-advisory a:hover, 
.local-advisory a:focus, 
div.entry-content .previous-advisory a:hover, 
div.entry-content .previous-advisory a:focus, 
div.entry-content .previous-external-advisory a:hover, 
div.entry-content .previous-external-advisory a:focus {
	color: #3a5b7d;
	text-decoration: underline;
}

.previous-advisory, 
.previous-alert, 
.previous-external-advisory {
	margin-bottom: 1rem;
	margin-bottom: 16px;
}

body > .emergency-alert .alert-content, 
.site-container > .campus-advisory .alert-content {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
